// Создаем переменную, с указанием пути до корневой папки.
// Путь указывается относительно файла css.
// Например: $font-path: '../fonts/';
$font-path: '../fonts/';

// Создаем переменную с названием шрифта. Значение должно соответствовать названию
// директории в которой будет лежать шрифт относительно корневой папки
// $font-name: 'Helvetica';
$font-name: 'Formular';

// Создаем мап с парами 'жирность : путь' относительно папки с шрифтом
//  Например:
//  $font-map: (100:'/ultralight/HelveticaUltraLight') ,
//  где 100 - жирность шрифта, а '/ultralight/HelveticaUltraLight' путь относительно корневой папки с шрифтом
$font-map: (
        400: '/normal/Formular',
        600: '/bold/Formular'
);
