doctype html
html
    head
        meta(charset='UTF-8')
        meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
        // bower:css
        // run gulp inject to automatically populate bower styles dependencies
        // endbower
        // inject:css
        // css files will be automatically insert here
        // endinject
        block title
            title Template
    body
        block content

        // bower:js
        // run gulp inject to automatically populate bower script dependencies
        // endbower
        // inject:js
        // js files will be automatically insert here
        // endinject
